<div class="login-container">
  <div class="form-container">
    <div class="login-header">Login</div>
    <div *ngIf="errorMessage" class="errors">{{ errorMessage }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input formControlName="email" type="email" placeholder="Email" class="login-input"/>
      <input formControlName="password" type="password" placeholder="Password" class="login-input"/>
      <button type="submit" class="login-btn">Sign in</button>
    </form>
    <div class="links-container">
      <a routerLink="/register" class="register-link">Create account</a>
      <a routerLink="/">Home</a>
    </div>
  </div>
</div>
