<header class="header">
  <a routerLink="/" class="header-link">db is for DashBoard</a>
  <div>
    <a routerLink="/login" class="header-login-link">Login</a>
    <a routerLink="/register" class="header-register-link">Sign up</a>
  </div>
</header>

<div class="main-container">
  <div class="container">
    <div>
      <h1 class="title">Welcome to Dashboard</h1>
      <p class="description">Please <span>login</span> or <span>sign up</span> to unlock the full potential of this application.</p>
    </div>
  </div>
</div>
