

.form-text{
  margin-top: 10px;
  font-weight: 300;
}
.form-input{
      background-color: rgb(12, 154, 241);
      border-radius: 12px;
      border: 0;
      color: #eee;
      cursor: pointer;
      font-size: 20px;
      height: 40px;
      text-align: center;
      width: 200px;
}
.form-input::placeholder{
  color: white;
}

button{
  margin-top: 25px;
  background-color: rgb(12, 154, 241);
  border-radius: 12px;
  border: 0;
  color: #eee;
  cursor: pointer;
  height: 40px;
  text-align: center;
  font-size: 18px;
  width: 100px;
  padding: 0 10px;
}
